.App {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  /* border: 10px solid blue; */
  margin: 0px;
  padding: 0px;
}

.headerImg {
  width: 70px;
  height: 70px;
}

.homeImg {
  width: 500px;
  height: 500px;
}

.catImg {
  width: 10%;
  height: 10%;
}

.App-header {
  /* border: 5px solid red; */
  width: 100%;
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  color: #cccccc;
  font-size: 100%;
  box-shadow: 10px 5px 5px black;;
}

.App-title {
  /* border: 1px solid white; */
  margin: 5px 12px 0px 12px;
  /* color: #cccccc; */
}

.App-route {
  /* border: 1px solid white; */
  margin: 12px 12px 12px 12px;
  /* color: #cccccc; */
}

.App-title-active {
  color: red;
  font-weight: bold;
}

.route {
  /* border: 1px solid #3e3e3e; */
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.catHeader {
  border: 1px solid red;
  background-color: orange;
  display: flex;
  flex-direction: column;
  margin: 12px 12px 12px 12px;
  /* color: #3e3e3e; */
}

.catHide {
  border: purple;
  display: none;
  flex-direction: column;
}

.catLink:hover .catHide {
  border: green;
  display: block;
  flex-direction: column;
}

.catRoute {
  border: blue;
}

.App-cards {
  /* border: 1px solid white; */
  margin: 12px 0px 12px 12px;
  color: #cccccc;
}

.App-task {
  /* border: 1px solid #3e3e3e; */
  padding: 3px 10px 0px 10px;
  margin: 25px 12px 0px 0px;
}

.bobbleCards {
  border: 1px solid black;
  margin: 15px 15px;
  padding: 5px;
}






/* .App {
  text-align: center;
  height: 500px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  display: inline-block;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
