.App {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  /* border: 10px solid blue; */
  margin: 0px;
  padding: 0px;
}
/* 
.App:hover {
  color: salmon;
} */


.hometitle {
  margin-top: 100px;
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  color: rgb(240, 171, 42)

}
.headerImg {
  width: 70px;
  height: 70px;
}

.homeImg {
  margin: 5% 30%;
  width: 500px;
  height: 500px;
  filter: drop-shadow(30px 10px 4px #626274);
}

.catImg {
  width: 10%;
  height: 10%;
}

.App-header {
  /* border: 5px solid red; */
  width: 100%;
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  color: #3e3e3e;
  font-size: 100%;
  box-shadow: 10px 5px 5px black;;
}
/* 
.App-header:hover {
  color: salmon;
} */

.App-title {
  /* border: 1px solid white; */
  margin: 5px 12px 0px 12px;
  /* color: #cccccc; */
}

.App-route {
  /* border: 1px solid white; */
  margin: 12px 12px 12px 12px;
  /* color: #cccccc; */
}

.App-title-active {
  color: red;
  font-weight: bold;
}

.route {
  /* border: 1px solid #3e3e3e; */
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.catHeader {
  /* border: 1px solid red; */
  /* background-color: orange; */
/* display: flex;
flex-direction: column; */
  /* margin: 12px 12px 12px 12px; */
  /* color: #3e3e3e; */
}

.catLink {
  /* border: 1px solid green; */
  /* background-color: orange; */
  /* display: flex;
  flex-direction: column; */
  /* height: 80px; */
  margin: 0px;
  /* color: #3e3e3e; */
}

.catLink:hover .catHide {
  /* border: green; */
  /* display: block; */
}

.catHide {
  /* border: purple; */
  /* display: none; */
}

.catRoute {
  border: blue;
}

.App-cards {
  /* border: 1px solid white; */
  margin: 12px 0px 12px 12px;
  /* color: #3e3e3e; */
}

.App-task {
  /* border: 1px solid #3e3e3e; */
  padding: 3px 10px 0px 10px;
  margin: 25px 12px 0px 0px;
}

.bobbleCards {
  border: 1px solid black;
  margin: 15px 15px;
  padding: 5px;
  /* color: #3e3e3e; */
}

.addFormPage {
  padding: 15px;
  background-color: paleturquoise;
  height: 100%;
  /* color: #3e3e3e; */
}

.addFormContainer {
  border: 1px solid blue;
  /* margin: 0% 43%; */
  width: 400px;
  margin: auto;
  padding: 20px 15px;
  background-color: #ddd;
  box-shadow: 2px 2px 8px 2px #ccc;
  border-radius: 15px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-content: center; */
}

input {
  width: 90%;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}




/* .App {
  text-align: center;
  height: 500px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  display: inline-block;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
